<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../login-usuario-cuentas/login-usuario-cuentas">

<dom-module id="alta-new-user">
 <template>
   <style>
     :host {
       display: block;
       font-family: Helvetica;
     }
     .container{
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      padding: 100px 0;
      top:100px;
     }
      .col-md-12{
      font-family: Helvetica;
      color: white;
      }
     .btn-primary{
       background: #0b8585!important;
     }
   </style>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
     <!--div hidden$="{{isAfiliado}}" class="container"-->
     <!--div class="container"-->
     <div hidden$="{{isAfiliado}}" class="container">
       <h1>BBVA</h1>
       <h4>Inscribete en nuestra banca por internet</h4>
         <div class="card" style="width: 30rem;" alt="Responsive card">
           <div class="card-body">
             <div class="form-group">
               <label for="exampleInputFisrtName1">Nombre</label>
               <input type="first_name" class="form-control" id="exampleInputFirst_name1" placeholder="Nombre"  value="{{first_name::input}}">
             </div>
             <div class="form-group">
               <label for="exampleInputLastName1">Apellido</label>
               <input type="last_name" class="form-control" id="exampleInputLastName1" placeholder="Apellido" value="{{last_name::input}}">
             </div>
             <div class="form-group">
               <label for="exampleInputEmail1">Email</label>
               <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" value="{{email::input}}">
             </div>
             <div class="form-group">
               <label for="exampleInputPassword1">Password</label>
               <input type="password" class="form-control" id="exampleInputPassword1" placeholder="&#x1F512; Password" value="{{password::input}}">
             </div>
             <!--div class="form-group">
               <label for="exampleInputConfirmacion">ConfirmePassword</label>
               <input type="password" class="form-control" id="exampleConfirmacionPassword1" placeholder="&#x1F512; Confirme Password" value="{{confirmacion::input}}">
             </div-->
             <button  class="btn btn-primary" on-click="afiliar">Afiliar</button><br></br>
           </div>
        </div>
     </div>
     <div hidden$="{{isMessage}}">
       <h4>Gracias por Afiliarte a nuestra banca por internet</h4>
    </div>
    <div hidden$="{{isError}}">
      <h4>No se pudo realizar la operacion, por favor ingrese todos los datos requeridos</h4>
   </div>

   <iron-ajax
     id="doAfiliar"
     url="http://localhost:3000/apitechu/v3/afiliar"
     content-type="application/json"
     method="POST"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError">

 </template>

 <script>
     class AltaNewUser extends Polymer.Element {
     static get is() { return 'alta-new-user'; }
     static get properties() {
       return {
         email: {
           type: String
         }, password: {
           type: String
         },
          isAfiliado: {
           type: Boolean,
           value: false
         },
         isMessage: {
          type: Boolean,
          value: true
        },
        isError: {
         type: Boolean,
         value: true
       },
         first_name: {
           type: String
         },
         last_name: {
           type: String
         },
         idusu:{
           type: String
         }
       };
     }

     afiliar(e) {
       console.log("El usuario ha pulsado el botón afiliar");
       var afiliarData = {
         "first_name" : this.first_name,
         "last_name" : this.last_name,
         "email" : this.email,
         "password" : this.password
       };
       this.$.doAfiliar.body = JSON.stringify(afiliarData);
       this.$.doAfiliar.generateRequest();
       this.isAfiliado = true;
    //   this.isMessage = false;
     }

     manageAJAXResponse(data) {
       console.log("Recibida respuesta del servidor");
    //   console.log(data.detail.response.userid);
    //   console.log(data.detail.response.name);
    //   console.log(data.detail.response);
       this.idusu = data.detail.response.userid;
       this.first_name = data.detail.response.name;
       this.last_name = data.detail.response.apellido;
       this.email = data.detail.response.email;
       console.log(data.detail.response.userid);
       if ( data.detail.response.name!=undefined || data.detail.response.apellido!=undefined || data.detail.response.email!=undefined) {
         this.isAfiliado = true;
         this.isMessage = false;
         console.log('Alta de Usuario correcto!');
         console.log(window.location.href);
       } else {
          this.isAfiliado = true;
          this.isError = false;
          this.isMessage = true;
         console.log('No se pudo realizar la afiliacion, vuelva a intentar ###');
       }
      this.dispatchEvent(new CustomEvent('afiliarok',{detail:{idusu:this.idusu,
      name:this.first_name}}));

     }


     showError(error) {
        console.log("Hubo un error");
        console.log(error);
      }

    }
    window.customElements.define(AltaNewUser.is, AltaNewUser);
  </script>
 </dom-module>
