<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../visor-usuario/visor-usuario.html">

<dom-module id="login-usuario">
 <!-- Plantilla del componente -->
 <template>
   <style>
     :host {
       display: block;
       font-family: Helvetica;
     }
     .container{
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      padding: 100px 0;
      top:100px;
     }
     .col-md-12{
      font-family: Helvetica;
      color: white;
      }
     .btn-primary{
       background: #0b8585!important;
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
     <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
     total columnas 12 (que indica el ancho máximo)-->
     <!-- media query -->
     <div hidden$="{{isLogged}}" class="container">
       <h1 class="col-md-12">Login Usuario</h1>
       <br />
         <div class="card" style="width: 30rem;" alt="Responsive card">
           <div class="card-body">
             <div class="form-group">
               <label for="exampleInputEmail1">Email address</label>
               <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" value="{{email::input}}">
             </div>
             <div class="form-group">
               <label for="exampleInputPassword1">Password</label>
               <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" value="{{password::input}}">
             </div>
             <button  class="btn btn-primary" on-click="login">Login</button><br></br>
           </div>
        </div>
     </div>

   <iron-ajax
     id="doLogin"
     url="http://localhost:3000/apitechu/v3/login"
     content-type="application/json"
     method="POST"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError">
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class LoginUsuario extends Polymer.Element {
     static get is() { return 'login-usuario'; }
     static get properties() {
       return {
         email: {
           type: String
         }, password: {
           type: String
         }, isLogged: {
           type: Boolean,
           value: false
         },
         first_name: {
           type: String
         },
         last_name: {
           type: String
         },
         idusu:{
           type: String
         }
       };
     }

     login(e) {
       console.log("El usuario ha pulsado el botón login");
       var loginData = {
         "email" : this.email,
         "password" : this.password
       };
       this.$.doLogin.body = JSON.stringify(loginData);
       this.$.doLogin.generateRequest();
     }

  /*  mostrarDatosRecibidos(data){
        console.log("Receptor:" + JSON.stringify(data));
        console.log(data.isLogged);
        this.isLogged = data.isLogged;
      }
*/
     manageAJAXResponse(data) {
       console.log("Recibida respuesta del servidor");
       console.log(data.detail.response.userid);
       console.log(data.detail.response.user);
       this.idusu = data.detail.response.userid;
       if ( data.detail.response.userid!=undefined || data.detail.response.user!=undefined ) {
         this.isLogged = true;
         console.log('Usuario correcto!');
         console.log(window.location.href);
      //   window.location = 'visor-usuario';
      //   window.location.href = "/visor-usuario/visor-usuario.html";
       } else {
         this.isLogged = false;
         console.log('Usuario no válido ###');
       }
       this.dispatchEvent(new CustomEvent('loginOK', {detail:{idusu:this.idusu}}));
       console.log("isLoggeddellogin:" + this.isLogged);
       console.log("idusu:" + this.idusu);
     }

     showError(error) {
       console.log("Hubo un error");
       console.log(error);
     }

   }
   window.customElements.define(LoginUsuario.is, LoginUsuario);
 </script>
</dom-module>
