<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html"/>
<link rel="import" href="../visor-movimientos/visor-movimientos.html">
<dom-module id="visor-movimientos">
  <template>
  <style>
    :host {
      display: block;
      font-family: Helvetica;
    }
    .container{
     width: 100%;
     max-width: 600px;
     margin: 0 auto;
     padding: 100px 0;
     top:100px;
    }
    .col-md-12{
     font-family: Helvetica;
     color: white;
     }
    .btn-primary{
      background: #0b8585!important;
    }
    .derecha   { float: right; }
  </style>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
     <div  class="card-header" style="width: 58rem;">
       <!--h1>Bienvenido a BBVA [[first_name]] [[last_name]]</h1-->
       <br></br><h4>Sus movimientos son:</h4><br></br>
     </div>

    <div class="card" style="width: 58rem;" alt="Responsive card">
      <div  class="card-body">

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Numero de Movimiento</th>
          <th scope="col">Fecha</th>
          <th scope="col">Monto</th>
          <th scope="col">Descripcion</th>
        </tr>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{transaction}}">
          <tr>
            <td>{{item.number}}</td>
            <td>{{item.data}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.descripcion}}</td>
          </tr>
        </template>

      </tbody>
    </table>
  </div>

    </div>
  </div>

    <iron-ajax
      id="getMovi"
      url="http://localhost:3000/apitechu/v3/users/{{userid}}/accounts/{{idaccount}}"
      handle-as="json"
      on-response="showMovi"
      content-type="application/json"
      on-error="showError">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          userid: {
            type: Number,
            observer: '_idChanged'
          },idaccount: {
            type: Number,
            observer: '_idChanged'
          }, number: {
            type: Number
          }, data: {
            type: String
          }, transaction: {
            type: Array,
            observer: '_idChanged'
          }, amount: {
            type: Number
          }, descripcion: {
            type: String
          }
        };
      }
      _idChanged() {
        this.$.getMovi.generateRequest();
      }



      showMovi(data){
        console.log("showMovi");
        console.log(data.detail.response);
        this.transaction=data.detail.response[0].transaction;
      }

      showError(error) {
        console.log("Hubo un error");
        console.log(error);
      }
    }

    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
