<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html"/>
<link rel="import" href="../gestor-inicio/gestor-inicio.html">
<!--slink rel="import" href="../visor-cuentas/visor-cuentas.html"-->
<dom-module id="visor-salir">
  <template>
  <style>
    :host {
      display: block;
      font-family: Helvetica;
    }
    .container{
     width: 100%;
     max-width: 600px;
     margin: 0 auto;
     padding: 100px 0;
     top:100px;
    }
    .col-md-12{
     font-family: Helvetica;
     color: white;
     }
    .btn-primary{
      background: #0b8585!important;
    }
    .derecha   { float: right; }
    .centro    { float: inherit;}
  </style>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

     <div hidden$="[[hasInicia]]" class="card-header">
      <br></br><h1> Estimado [[first]] [[last]] </h1><br></br>
    </div>
      <div hidden$="[[hasFin]]" class="container">

        <div class="card" style="width: 30rem;" alt="Responsive card">
          <div class="card-header" >
            <h3>Seguro que quiere Salir
            </h3>
         </div>
          <div class="card-body">

          <button  class="btn btn-primary" on-click="Exit">De Acuerdo</button>
          </div>
       </div>

      </div>


      <div hidden$="[[!hasChau]]" class="container centro">
        <div class="card" style="width: 30rem;" alt="Responsive card">
          <div class="card-header" >
            <h3>CHAU!!
            </h3>
         </div>
          <div class="card-body">

            <button  class="btn btn-primary" on-click="Inicia">Iniciar Sesión</button><br></br>

          </div>
       </div>
       </div>

       <div hidden$="[[!hasLogin]]">
         <gestor-inicio></gestor-inicio>
       </div>

       <div hidden$="[[!hasCuenta]]">
         <!--visor-cuentas userid="{{userid}}" first_name="{{first}}" last_name="{{last}}"></visor-cuentas-->
       </div>

    <iron-ajax
      id="getSalir"
      url="http://localhost:3000/apitechu/v3/logout"
      handle-as="json"
      on-response="showSalir"
      content-type="application/json"
      method="POST"
      on-error="showError">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorSalir extends Polymer.Element {
      static get is() { return 'visor-salir'; }
      static get properties() {
        return {
          userid: {
            type: Number
          },
          hasFin: {
            type: Boolean,
            value: false
          },
          hasInicia: {
            type: Boolean,
            value: false
          },hasChau: {
            type: Boolean,
            value: false
          },
          first: {
            type: String
          },
          last: {
            type: String
          },hasCuenta: {
            type: Boolean,
            value: false
          },hasLogin: {
            type: Boolean,
            value: false
          }
        };
      }
      _idChanged() {
        this.$.getSalir.generateRequest();
      }
      /*Cancelar(e){
        this.hasFin=true;
        this.hasCuenta=true;
        this.hasInicia=true;
      }*/

      Inicia(e){
        console.log("Iniciar sesiòn");
        this.hasChau=false;
        this.hasInicia=true;
        this.hasLogin=true;
      }

      Exit(e){
        console.log("Exit");
        var logoutData = {
          "id" : this.userid,
        //  "password" : this.password
        };


        this.$.getSalir.body = JSON.stringify(logoutData);
        this.$.getSalir.generateRequest();

        //  this.transaction=data.detail.response[0].transaction;
        }



      showSalir(data){
        console.log("showSalir");
        console.log("Recibida respuesta del servidor");
        this.hasFin=true;
        this.hasChau=true;

      //  console.log(data.detail.response);
      }
      showError(error) {
        console.log("Hubo un error");
        console.log(error);
      }
    }

    window.customElements.define(VisorSalir.is, VisorSalir);
  </script>
</dom-module>
