<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!--link rel="import" href="../visor-cuentas/visor-cuentas.html"-->
<link rel="import" href="../login-usuario-cuentas/login-usuario-cuentas.html">
<!--link rel="import" href="../visor-movimientos/visor-movimientos.html">
<link rel="import" href="../alta-new-user/alta-new-user.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html"-->

<dom-module id="gestor-inicio">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <login-usuario-cuentas on-loginok="showAccounts"></login-usuario-cuentas>
    <div hidden$="[[!hasAccounts]]">

       <visor-cuentas id="receiver" on-VerDetalleok="showMovimientos"></visor-cuentas>
     </div>
    <!--div hidden$="[[!hasMovimientos]]">
       <h1>[[first_name]] [[last_name]] sus movimientos :</h1>
       <visor-movimientos id="detalle"></visor-movimientos>
     </div-->

  </template>

  <script>
    class GestorInicio extends Polymer.Element {
      static get is() { return 'gestor-inicio'; }
      static get properties() {
        return {
          hasAccounts: {
            type: Boolean,
            value: false
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          }
        };
      }

      showAccounts(e) {
        this.$.receiver.userid = e.detail.idusu;
        this.first_name = e.detail.name;
        this.last_name = e.detail.apellido;
        this.hasAccounts = true;
      }

    }

    window.customElements.define(GestorInicio.is, GestorInicio);
  </script>
</dom-module>
