<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html"/>
<link rel="import" href="../visor-movimientos/visor-movimientos.html">
<link rel="import" href="../visor-salir/visor-salir.html">
<link rel="import" href="../visor-retiro/visor-retiro.html">
<dom-module id="visor-cuentas">
  <template>
  <style>
    :host {
      display: block;
      font-family: Helvetica;
    }
    .container{
     width: 100%;
     max-width: 600px;
     margin: 0 auto;
     padding: 100px 0;
     top:100px;
    }
    .col-md-12{
     font-family: Helvetica;
     color: white;
     }
    .btn-primary{
      background: #0b8585!important;
    }
    .derecha   { float: right; }
  </style>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

     <div hidden$="[[hasFin]]" class="card-header" style="width: 60rem;">
       <!--h1>Bienvenido a BBVA [[first_name]] [[last_name]]</h1-->
       <br></br><h1>Bienvenido a BBVA [[first_name]] [[last_name]]
         <button  class="btn btn-primary derecha"  on-click="Fin">Cerrar Sesiòn</button><br></br>
</h1>
    </div>

    <div class="card" style="width: 60rem;" alt="Responsive card">
    <div hidden$="[[!hasCuentas]]" class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">IBAN</th>
          <th scope="col">Saldo</th>
          <th scope="col">Movimientos</th>
          <th scope="col">Retirar</th>
        </tr>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{accounts}}">
          <tr>
            <td>{{item.iban}}</td>
            <td>{{item.saldo}}</td>
            <td><a data-id="{{item.id}}" type="idaccount" id="{{item.id}}" on-click="VerDetalle"> Ver</a></td>
            <td><a data-id="{{item.id}}" type="idaccount" id="{{item.id}}" on-click="VerRetiro"> Retirar Dinero</a></td>
            <!--td>{{item.id}}</td-->
          </tr>
        </template>

      </tbody>
    </table>
    </div>
    </div>
    <div hidden$="[[!hasMovimientos]]" class="card-header" style="width: 60rem;">
        <br></br>
       <h3>Cuenta seleccionada: [[iban]] </h3><br></br>
       <visor-movimientos idaccount="{{idaccount}}" userid="{{userid}}" id="detalle"></visor-movimientos>
        <button  class="btn btn-primary" on-click="Salir">Regresar</button><br></br>
     </div>

     <div hidden$="[[!hasFin]]"  style="width: 60rem;">


        <visor-salir userid="{{userid}}" first="{{first_name}}" last="{{last_name}}" id="salir"></visor-salir>
         <!--button  class="btn btn-primary" on-click="Inicia">Iniciar Sesión</button><br></br-->

         <button  class="btn btn-primary" on-click="Salir">Reresar</button><br></br>
      </div>
      <div hidden$="[[!hasRetiro]]" >
        <!--h3>Cuenta seleccionada es: [[iban]] </h3--->
         <visor-retiro idaccount="{{idaccount}}" userid="{{userid}}" iban="{{iban}}" id="detalle"></visor-retiro>
         <button  class="btn btn-primary" on-click="Salir">Regresar</button>
       </div>

    <iron-ajax
      id="getAccounts"
      url="http://localhost:3000/apitechu/v3/users/{{userid}}/accounts"
      handle-as="json"
      on-response="showData"
      content-type="application/json"
      on-error="showError">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas';}
      static get properties() {
        return {
          userid: {
            type: Number,
            observer: '_idChanged'
          }, iban: {
            type: String
          }, saldo: {
            type:Number
          }, accounts: {
            type: Array
          }, idaccount: {
            type: Number,
            observer: '_idChanged'
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          hasMovimientos: {
            type: Boolean,
            value: false
          },
          hasCuentas: {
            type: Boolean,
            value: false
          },
          hasFin: {
            type: Boolean,
            value: false
          },
          hasInicio: {
            type: Boolean,
            value: false
          },
          hasRetiro: {
            type: Boolean,
            value: false
          }
        };
      }
      _idChanged() {
        this.$.getAccounts.generateRequest();
      }
      Inicio (e){
        this.hasFin=false;
        this.hasInicio=true;
      }

      Fin(e){
        this.hasCuentas=false;
        this.hasMovimientos=false;
        this.hasFin=true;
      }

      Salir(e){
        this.hasCuentas=true;
        this.hasMovimientos=false;
        this.hasRetiro=false;
        this.hasFin=false;
      }

      VerDetalle(e) {
        console.log("El usuario ha pulsado el detalle del movimiento");
        this.idaccount=e.target.id;
        this.iban=this.accounts[this.idaccount-1].iban;

        console.log("this.iban"+this.iban);

        console.log("idusu:" + this.userid);
        console.log("idaccount:" + this.idaccount);
        this.hasCuentas=false;
        this.hasMovimientos=true;
        var datos=JSON.parse(localStorage.getItem("nombre"));
        this.first_name=datos.first_name;
        this.last_name=datos.last_name;

        //var cuenta =this.iban;
        //localStorage.setItem("cuenta",JSON.stringify(cuenta));

      }

      VerRetiro (e){
        console.log("El usuario ha pulsado el retirar monto");
        this.idaccount=e.target.id;
        this.iban=this.accounts[this.idaccount-1].iban;
        this.hasCuentas=false;
        this.hasMovimientos=false;
        this.hasRetiro=true;
        this.hasFin=false;
      }

      showData(data){
          console.log("showData");
    //      this.$.getAccounts.generateRequest();
          console.log(data.detail.response);
          this.hasCuentas=true;
          this.accounts=data.detail.response[0].account;
          var datos=JSON.parse(localStorage.getItem("nombre"));
          this.first_name=datos.first_name;
          this.last_name=datos.last_name;
      }

      showError(error) {
        console.log("Hubo un error");
        console.log(error);
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
