<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../visor-cuentas/visor-cuentas.html">
<link rel="import" href="../visor-movimientos/visor-movimientos.html">
<link rel="import" href="../alta-new-user/alta-new-user.html">

<dom-module id="visor-retiro">
 <template>
   <style>
     :host {
       display: block;
       font-family: Helvetica;
     }
     .container{
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      padding: 100px 0;
      top:100px;
     }
     .col-md-12{
      font-family: Helvetica;
      color: white;
      }
     .btn-primary{
       background: #0b8585!important;
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
     <div hidden$="{{hasRetiro}}" class="container">
       <!--h1>BBVA</h1>
       <h4>Retirar Dinero</h4-->
         <div class="card" style="width: 30rem;" alt="Responsive card">
           <div class="card-body">
             <div class="form-group">
               <label for="Cuenta"><h5>Cuenta seleccionada es: [[iban]]</h5> </label><br></br>
               <label for="exampleInputMonto"><h5>Monto a Retira:</h5></label>
               <input type="number" min="10" max="100" class="form-control" id="exampleInputMonto" placeholder="Ingrese Monto" value="{{monto::input}}">
             </div>

             <button  class="btn btn-primary" on-click="Retirar">Retirar</button><br></br>
             <div hidden$="[[!hasRetir]]" class="container">
               <label for="Cuenta"><h5>Se retiro correctamente</h5> </label><br></br>
             </div>
           </div>
        </div>
     </div>


   <iron-ajax
     id="doRetirar"
     url="http://localhost:3000/apitechu/v3/users/{{userid}}/accounts/{{idaccount}}"
     content-type="application/json"
     method="PUT"
     handle-as="json"
     on-response="GenerarRetiro"
     on-error="showError">

 </template>

 <script>
     class VisorRetiro extends Polymer.Element {
     static get is() { return 'visor-retiro'; }
     static get properties() {
       return {
         hasRetiro: {
           type: Boolean,
           value: false
         },idaccount: {
           type: Number
         },userid: {
           type: Number
         },monto: {
           type: Number
         },hasRetir: {
           type: Boolean,
           value: false
         }
       };
     }

     Retirar(e) {
       console.log("El usuario ha pulsado el botón login");
       var loginData = {
         "disponible" : this.monto
       };
       this.hasRetir=false;
       this.$.doRetirar.body = JSON.stringify(loginData);
       this.$.doRetirar.generateRequest();
     }

     
     GenerarRetiro(data) {
       console.log("Recibida respuesta del servidor");
       this.hasRetir=true;
    //   console.log(data.detail.response.userid);
    //   console.log(data.detail.response.name);
    //   console.log(data.detail.response);
    //   this.idaccount = data.detail.response.userid;
    /*   this.first_name = data.detail.response.name;
       this.last_name = data.detail.response.apellido;
       console.log(data.detail.response.userid);
       if ( data.detail.response.userid!=undefined || data.detail.response.user!=undefined ) {
         this.isLogged = true;
         console.log('Usuario correcto!');
         console.log(window.location.href);
       } else {
         this.isLogged = false;
         console.log('Usuario no válido ###');
       }*/

     }

     showError(error) {
       console.log("Hubo un error");
       console.log(error);
     }

   }
   window.customElements.define(VisorRetiro.is, VisorRetiro);
 </script>
</dom-module>
