<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../login-usuario-cuentas/login-usuario-cuentas">

<dom-module id="olvido-password">
 <template>
   <style>
     :host {
       display: block;
       font-family: Helvetica;
     }
     .container{
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      padding: 100px 0;
      top:100px;
     }
      .col-md-12{
      font-family: Helvetica;
      color: white;
      }
     .btn-primary{
       background: #0b8585!important;
     }
   </style>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
     <!--div hidden$="{{isAfiliado}}" class="container"-->
     <!--div class="container"-->
     <div hidden$="{{isOlvido}}" class="container">
       <!--h1>BBVA</h1-->
       <h1>¿Olvidaste tu contraseña?</h1>
       <h4>Introduce los siguientes datos</h4>
         <div class="card" style="width: 30rem;" alt="Responsive card">
           <div class="card-body">
             <div class="form-group">
               <label for="exampleInputFisrtName1">Nombre</label>
               <input type="first_name" class="form-control" id="exampleInputFirst_name1" placeholder="Nombre"  value="{{first_name::input}}">
             </div>
             <div class="form-group">
               <label for="exampleInputLastName1">Apellido</label>
               <input type="last_name" class="form-control" id="exampleInputLastName1" placeholder="Apellido" value="{{last_name::input}}">
             </div>
             <div class="form-group">
               <label for="exampleInputEmail1">Email</label>
               <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" value="{{email::input}}">
             </div>
             <div class="form-group">
               <label for="exampleInputPassword1">Nueva Contraseña</label>
               <input type="password" class="form-control" id="exampleInputPassword1" placeholder="&#x1F512; New Password" value="{{password::input}}">
             </div>
             <!--div class="form-group">
               <label for="exampleInputConfirmacion">ConfirmePassword</label>
               <input type="password" class="form-control" id="exampleConfirmacionPassword1" placeholder="&#x1F512; Confirme Password" value="{{confirmacion::input}}">
             </div-->
             <button  class="btn btn-primary" on-click="update">Actualizar</button><br></br>
           </div>
        </div>
     </div>
     <div hidden$="{{isMessage}}">
       <h4>Tu contraseña ha sido actualizada satisfactoriamente</h4>
    </div>
    <div hidden$="{{isError}}">
      <h4>No se pudo actualizar la contraseña debido a que los datos ingresados no son correctos</h4>
   </div>

   <iron-ajax
     id="doUpdate"
     url="http://localhost:3000/apitechu/v3/update"
     content-type="application/json"
     method="POST"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError">

 </template>

 <script>
     class OlvidoPassword extends Polymer.Element {
     static get is() { return 'olvido-password'; }
     static get properties() {
       return {
         email: {
           type: String
         }, password: {
           type: String
         },
          isOlvido: {
           type: Boolean,
           value: false
         },
         isMessage: {
          type: Boolean,
          value: true
        },
        isError: {
         type: Boolean,
         value: true
       },
         first_name: {
           type: String
         },
         last_name: {
           type: String
         },
         idusu:{
           type: String
         }
       };
     }

     update(e) {
       console.log("El usuario ha pulsado el botón actualizar");
       var updateData = {
         "first_name" : this.first_name,
         "last_name" : this.last_name,
         "email" : this.email,
         "password" : this.password
       };
       this.$.doUpdate.body = JSON.stringify(updateData);
       this.$.doUpdate.generateRequest();
       this.isOlvido = true;
     }

     manageAJAXResponse(data) {
       console.log("Recibida respuesta del servidor");
    //   console.log(data.detail.response.userid);
    //   console.log(data.detail.response.name);
    //   console.log(data.detail.response);
       this.idusu = data.detail.response.userid;
       this.first_name = data.detail.response.name;
       this.last_name = data.detail.response.apellido;
       this.password = data.detail.response.password;
       console.log(data.detail.response.userid);
       if ( data.detail.response.userid!=undefined) {
         this.isOlvido = true;
         this.isMessage = false;
         console.log('Actualizacion password correcto!');
         console.log(window.location.href);
       } else {
         this.isOlvido = false;
         this.isError = false;
         this.isMessage = true;
         console.log('No se pudo realizar la actualizacion, vuelva a intentar ###');
       }
      this.dispatchEvent(new CustomEvent('update',{detail:{idusu:this.idusu,
      name:this.first_name}}));

     }

     showError(error) {
       console.log("Hubo un error");
       console.log(error);
       this.isError = false;
     }

   }
   window.customElements.define(OlvidoPassword.is, OlvidoPassword);
 </script>
</dom-module>
